@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* Top Bar */

.TopBar {
  border-bottom: 1px solid gray;
}
.TopBar .links {
  justify-content: flex-end;
  font-family: "Open Sans", sans-serif;
}

.TopBar .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  /* color: rgba(0,0,0,.9); */
  color: red;
}

.TopBar .navbar-nav .nav-link {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  /* color: rgba(0, 0, 0, 0.7) !important; */
  text-transform: uppercase;
  padding-left: 15px !important;
  opacity: 0.8;
  padding-right: 15px !important;
}
/* Top Bar */

/* Hero */
.hero {
  /* height: 100vh; */
  /* border: 1px solid black; */
}

.hero .mySwiper {
  height: 100vh;
  /* width: 100%; */
}
.hero .mySwiper .hero-image {
  width: 100%;
}
/* Hero */


/* contact form */

.Form_Header{
  padding-top: 100px;
  line-height: 75px;
  text-align: center;
}
.form_my_control input{
  height: 60px;
}
.Form_button{
  text-align: center;
  /* width: 100px; */
  padding: 8px 48px;
  background: #fd735a;
  font-size: 23px;
  border-radius: 0px;
  border: none;
}
.Form_textarea{
  padding-top: 30px;
}
.First_row{
  padding-top: 30px;
}
.form_my_control{
  padding-top: 30px;
}