@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* Top Bar */

.TopBar {
  border-bottom: 1px solid gray;
}
.TopBar .links {
  justify-content: flex-end;
  font-family: "Open Sans", sans-serif;
}

.TopBar .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  /* color: rgba(0,0,0,.9); */
  color: red;
}

.TopBar .navbar-nav .nav-link {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  /* color: rgba(0, 0, 0, 0.7) !important; */
  text-transform: uppercase;
  padding-left: 15px !important;
  opacity: 0.8;
  padding-right: 15px !important;
}
/* Top Bar */

/* Hero */
.hero {
  /* height: 100vh; */
  /* border: 1px solid black; */
}

.hero .mySwiper {
  height: 100vh;
  /* width: 100%; */
}
.hero .mySwiper .hero-image {
  width: 100%;
}
/* Hero */

/* Work */
.work .work_img {
  width: 400px;
  height: 500px;
}
/* Work */

/* G */
#root {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}
/* 
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* G */
